:host{

}


.container{
  width: 320px;
  background-color: white;
  height: 700px;
  padding: 20px;
  margin-right: 16px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin-bottom: 16px;


}
